<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Password</title>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
</head>

<body>
    <form>
        <div class="formBox">
            <label>Service Name </label>
            <input type="text" id="f_serviceName" value="">
        </div>
        <div class="formBox">
            <label>Username or E-mail </label>
            <input type="text" id="f_usernameEmail" value="">
        </div>
        <div class="formBox">
            <label>Password </label>
            <input type="text" id="f_Password" value="">
        </div>
        <div class="formBox">
            <label> Password Lenght</label>
            <input type="range" min="4" max="20" value="10" class="slider" id="passwordLenghtSlider">
            <span id="passwordLenghtValue"></span>
            <br>
            <label for="lowerCaseLetters">lower Case Letters</label>
            <input type="checkbox" id="lowerCaseLetters" value="abcdefghijklmnopqrstuvwxyz">
            <br>
            <label for="upperCaseLetters">upper Case Letters</label>
            <input type="checkbox" id="upperCaseLetters" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ">
            <br>
            <label for="numbers">numbers</label>
            <input type="checkbox" id="numbers" value="0123456789">
            <br>
            <label for="symbols">symbols</label>
            <input type="checkbox" id="symbols" value="!#$%&()*,-./:;=?@[\]^_{|}~">
            <br>
        </div>
        <div class="formBox">
            <button id="btn_generatePassword">generate</button>
            <button id="btn_uploadPassword">upload</button>
        </div>
    </form>
    <!-- ------------------------------------------------------ JS script -->
    <a href="./home.html">Back Home</a>
    <script type="module">
        require("../js/addPassword.js");
    </script>
</body>

</html>