<!DOCTYPE html>
<html>

<head>
    <title>Forgotten Password Page</title>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <!-- To use Auth also include its cdn-->
</head>

<body>
    <h1>Password Reset !</h1>
    <!-- ------------------------------------------------------ form -->
    <form>
        <div class="formBox">
            <label>Email</label>
            <input type="email" id="fm_email" value="" />
        </div>
        <div class="formBox">
            <button id="fm_btn_resetPassword">Reset Password</button>
        </div>
    </form>
    <!-- ------------------------------------------------------ JS script -->
    <script type="module">
        require("../js/forgottenPassword.js");
    </script>
</body>

</html>