<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
  <link rel="stylesheet" href="../style/loadingBtn.css">
</head>

<body>
  <h1>Login !</h1>
  <!-- ------------------------------------------------------ form -->
  <div class="formBox">
    <label>Email</label>
    <input type="email" id="email" autofocus value="harry@potter.com" />
  </div>
  <div class="formBox">
    <label>Password</label>
    <input type="password" id="password" value="123456" />
  </div>
  <a href="forgottenPassword.html">Forgotten password ?</a>
  <a href="signUp.html">Don't have an account? Sign up</a>
  <div class="btn_box">
    <button id="btn_login" class="btn">Login</button>
  </div>

  <!-- ------------------------------------------------------ JS script -->
  <script type="module">
    require("../js/login.js");
  </script>
</body>

</html>